<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821975034171-2udif2c7sb1q7ahgifqvkgm9qmdp5udj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821975034171-2udif2c7sb1q7ahgifqvkgm9qmdp5udj</string>
	<key>API_KEY</key>
	<string>AIzaSyBIlPccb5kPdPSkDqlPe3UOczyYy0dfVcM</string>
	<key>GCM_SENDER_ID</key>
	<string>821975034171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appfirebase</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-63aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-63aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821975034171:ios:d3b18c7c816847320baf1e</string>
	<key>DATABASE_URL</key>
	<string>https://appfirebase-63aa5.firebaseio.com</string>
</dict>
</plist>